@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.header h1 {
  color: white;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  display: inline-block;
}
h1 {
  color: white;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  display: inline-block;
}
h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  font-size: 1rem;
  margin: 20px;
  padding: 20px;
  display: inline-block;
}

.btn-default {
  margin-top: 20px;
}


.body-content .post, .body-content .profile {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Adjustments for mobile views */
@media (max-width: 768px) {
  .header .col-md-6 {
      text-align: center;
      margin-bottom: 10px;
  }
}


table, th, td {
  border: 1px solid;
  padding: 5px
}

th {
  background-color: rgb(91, 91, 241);
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  transition: background-color ease 0.3s;
}

input[type=submit] {
  background-color: darkblue;
  color: white;
}



.odd_row {
  background-color: white;
}

.even_row {
  background-color: lightgray;
}

.button {
  background-color: green, gold, darkblue;
  color: white;
}

.form-section {
  background:#010409;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.form-container {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
}

.form-input {
  width: 65%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: medium;
  transition: border-color 0.3s;
}

.form-input:focus {
  border-color: darkblue;
}
.form-select {
  width: 25%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: medium;
  background-color: white;
  transition: border-color 0.3s;
}

.form-select:focus {
  border-color: darkblue;
}


/* 
Sign up profile picture options 
*/
.profile-pictures {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}
.profile-picture-label {
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}
.profile-picture-options {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.profile-picture-option {
  margin: 5px;
  display: inline-block; /* Keep each picture option inline */
}

.profile-picture-option input[type="radio"] {
  display: none;
}

.profile-picture-option label {
  cursor: pointer;
  border: 2px solid transparent;

  border-radius: 50%;
  display: inline-block;
  padding: 3px;
}

.profile-picture-option label:hover,
.profile-picture-option input[type="radio"]:checked + label {
  border-color: darkblue;
}

.profile-picture-option img {
  width: 100px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
  object-fit: cover;
  border-radius: 50%;
}

/*
Profile picture in motaverse.html
*/
.profile-picture-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Adjust as needed */
}

.profile-picture-container img {
  width: 200px; /* Adjust the size as needed */
  height: 200px; /* Adjust the size as needed */
  border-radius: 50%; /* This makes the image circular */
  object-fit: cover; /* This ensures the image covers the area without stretching */
}

/*name in motaverse*/
.user-name {
  text-align: center;
  font-size: 1.2em; /* Adjust the font size as needed */
  margin-top: 10px; /* Space above the name */
  color: rgb(103, 243, 151); /* Adjust the color as needed */
  padding-bottom: 10px; /* Space below the name */
}


.aside-2 {
  text-align: left;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-card {
  width: 90%; /* Adjust the width as needed */
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #30363D;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-pic-small {
  width: 50px; /* Fixed size */
  height: 50px; /* Fixed size */
  border-radius: 50%;
  margin-right: 10px;
}

.profile-name-small {
  font-size: 1em;
}

/* Style for the post actions section */
.post-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #e0e0e0;
  margin-top: 20px;
}

.like-button {
  padding: 8px 15px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition:0 background-color 0.3s ease;
}

.like-button:hover {
  background-color: #0056b3;
}
.comment-button {
  padding: 8px 15px;
  color: white; 
  background-color: transparent; /* No background */
  border: 0.5px solid #0056b3; 
  border-radius: 4px; /* Rounded edges */
  cursor: pointer;
  font-size: 14px;
  font-weight: bold; /* Bold text */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.comment-button:hover {
  background-color: #0056b3; /* Background color on hover */
  color: white;
}
.unblock-button {
  background-color: transparent;
  font-size: 14px;
  font-weight: bold;
  color: #98fb98; /* Or any other color that fits your design */
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.unblock-button:hover {
  background-color: #98fb98; /* Light green background on hover */
  color: black;
}
.block-button {
  padding: 8px 15px;
  color: IndianRed; /* White text */
  background-color: transparent; /* No background */
  border: none; /* No border */
  border-radius: 4px; /* Rounded edges */
  cursor: pointer;
  font-size: 14px;
  font-weight: bold; /* Bold text */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.block-button:hover {
  background-color: #d9534f; 
  color: white;
}

.block-button-container {
  position: absolute; /* Position the button container */
  top: 20px; /* Adjust as needed */
  right: 15px; /* Adjust as needed */
  z-index: 1; /* Ensures it's above other content */
}
.show-more-comments-btn {
  display: inline-block;
  padding: 8px 15px;
  background-color: transparent;
  color: white;
  text-align: center;
  font-size: 14px;
  border-radius: 4px;
  text-decoration: none; /* Removes underline from links */
  transition: background-color 0.3s ease;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}

.show-more-comments-btn:hover {
  background-color: #007bff;
}
/* Style for the post comments section */
.post-comments {
  margin-top: 20px;
  padding: 15px;
}

.post-comments ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.post-comments li {
  margin-bottom: 10px;
}
/* Style for the post likes section */
.post-likes {
  padding: 10px 15px;
  color: white;
  font-size: 16px;

  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.post-likes::before {
  content: '👍';
  margin-right: 10px;
  font-size: 20px;
}
.profile-name-comment {
  color: #2dd4bf; /* Lighter text color for better readability */
  padding-bottom: 15px;
}
.comment {
  padding: 10px;
  width: 75%;
}

.comment-author {
  font-weight: bold;
  margin-right: 5px;
}

/* Responsive design for smaller screens */
@media (max-width: 600px) {
  .profile-card {
    width: 100%; /* Full width on smaller screens */
    flex-direction: column; /* Stack elements vertically on smaller screens */
    align-items: center;
    justify-content: space-between;
  }

  .profile-pic-small {
    margin-bottom: 10px;
  }
}



/*
.button {
  background-color: darkblue;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}
*/
.form-section p {
  font-size: 1.1em;
  margin: 20px 0;
  color: #555;
}

.button-group {
  display: flex;
  gap: 10px;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
  /* Basic reset for styles */
  body, h1, h2, button {
    margin: 0;
    padding: 0;
  }

  /* Header styles */
  .top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f5f5f5; /* Light grey background */
  }

  .logout-button {
    padding: 5px 15px;
    background-color: white; /* Bootstrap primary color for example */
    color: white;
    
    border: none;
    border-radius: 5px;
  }

  /* Main content styles */
  .main-content {
    display: flex;
    margin-top: 10px;
  }

  .left-column, .right-column {
    padding: 10px;
  }

  .left-column {
    width: 70%;
  }

  .right-column {
    width: 30%;
    background-color: #f5f5f5; /* Light grey background */
  }

  /* Post placeholder styles */
  .post-placeholder {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin-bottom: 10px;
    padding: 10px;
  }

  .wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center; 
    min-height: 100vh;
    background: #010409;
    /*background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(52,0,52,1) 100%);*/
  }
  
  .header, .footer {
    flex: 0 0 auto; 
  }

  .left-side, .main, .right-side {
    flex: 1 1 auto; /* Allow these elements to grow and shrink as needed */
    min-height: calc(100vh - 90px); /*Adjust 90px to match the combined height of your header and footer */
  }

  .wrapper > * {
    padding: 10px;
    flex: 1 100%;
  }
  
  .header {
    background: black;
    /*background: linear-gradient(0deg, rgba(45,0,37,1) 0%, rgba(117,0,107,1) 100%);*/
    height: 45px;
  }
  /*
  navigation inside hea
  */
  
  .navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 0;
    list-style: none;
    
    padding-left: 0;
    width: 100%
  }
  .navigation button {
    background: none; /* Transparent background */
    border: none; /* No border */
    color: white; /* Text color matches the navigation links */
    padding: 1em; /* Padding to match the navigation links */
    font-size: inherit; /* Inherit the font size from parent */
    cursor: pointer; /* Cursor to pointer to signify clickability */
    text-align: left; /* Align text as per other navigation text */
  }
  
  .navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
  }
  .navigation li:first-child {
    margin-right: auto;
  }
  
  .navigation a:hover {
    background: black;
  }
  /* Style to reset the appearance of the button to a plain text for consistency */
.navigation button:focus {
  outline: none; /* Removes the outline on focus */
}
  
  @media all and (max-width: 800px) {
    .navigation {
      justify-content: space-around;
    }
  }
  
  .main {
    text-align: left;
    color: white;
  
  }
  /*left side:*/
  .left-side {
    text-align: center;
    color: white;
    background: linear-gradient(180deg, rgba(13,17,23,1) 0%, rgba(1,4,9,1) 50%);
    /* Add more styling as needed */
  }
  
  /* Style for the form inside the left-side */
  .left-side form {
    margin: 20px 0;
  }
  
  /* Style for the textarea */
  .left-side textarea {
    width: 90%; /* Set the width to 90% of its parent element */
    padding: 10px; /* Add some padding inside the textarea */
    margin-bottom: 10px; /* Add some margin below the textarea */
    border-radius: 4px; /* Optional: rounds the corners of the textarea */
    border: 1px solid #ccc; /* Add a border to the textarea */
    box-shadow: inset 0 1px 3px #ddd; /* Optional: adds a subtle inner shadow */
    font-size: 1em; /* Set the font size similar to the default text */
  }
  
  /* Style for the button */
  .left-side button {
    padding: 10px 20px;
    background-color: #007bff; /* Set your desired button color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .left-side button:hover {
    background-color: #0056b3; /* Darken button color on hover for feedback */
  }
  

  
  .footer {
    background: black;
    color: white;
    height: 45px;
  }

  @media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .aside-1 { order: 1; } 
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
  }
  
  body {
     margin: 0; /* Remove default margin */
    padding: 0; 
  }
  
  
  @media all and (min-width: 600px) {
      .navigation {
      //flex-flow: column wrap;
      padding: 0;
    }
      .navigation a { 
      text-align: center; 
      padding: 10px;
      border-top: 1px solid rgba(255, 255, 255,0.3); 
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    }
      .navigation li:last-of-type a {
      border-bottom: none;
    }
    .aside { flex: 1 0 0; }
  }
  
  /*on main page this is the post container*/
  .post-container {
    display: block; /* Switched to block to layout li items vertically */
    padding: 0;
    margin: 15px;
    list-style: none;
  }
  
  .post-item {
    background: radial-gradient(circle, rgba(13,17,23,1) 0%, rgba(1,4,9,1) 100%);
    position: relative;
    padding: 20px; /* Increased padding */
    margin-top: 15px; /* Adjusted margin */
    color: white;
    border-radius: 15px; /* Optional: adds rounded corners to the post */
    border: .1px solid #30363D; /* Add this line */

  }
  
  .profile {
    display: flex; /* Flex to align image and info side by side */
    align-items: center; /* Center items vertically */
    margin-bottom: 10px; /* Space between profile and post content */
  }
  
  .profile-pic {
    float: left;
    width: 60px; /* Adjusted width for profile image */
    height: 60px; /* Adjusted height for profile image */
    margin-right: 15px; /* Space between image and name */
    border-radius: 50%; /* Makes the profile picture circular */
  }
  
  .profile-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  .profile-name {
    font-size: 1.2em; /* Larger font size for the name */
    color: #34d399; /* Lighter text color for better readability */
  }
  
  .post-date {
    font-size: 0.8em; /* Smaller font size for date */
    color: #bbbbbb; /* Light grey color for the date */
  }
  
  .post-content {
    font-size: 1.05em; /* Font size for post content */
    font-weight: normal;
    color: white; /* Text color for post content */
    margin-bottom: 10px; /* Space between content and actions */
    line-height: 1.35; /* Increase the line spacing */
  }
  
  .post-actions {
    text-align: right; /* Aligns buttons to the right */
  }
  
  button {
    background: #007bff; /* Example button color */
    color: white;
    border: none;
    padding: 8px 16px; /* Padding inside the button */
    margin: 0 5px; /* Margin between buttons */
    border-radius: 10px; /* Rounded corners for buttons */
    cursor: pointer; /* Pointer cursor on hover */
  }
  
  .button, .btn-default {
    background-image: linear-gradient(to right, #003366, #003366); /* Gradient background */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.8s ease; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    transform: scale(1); 
    text-transform: uppercase; 
    letter-spacing: 0.05em; 
}

.button:hover, .btn-default:hover {
    background-image: linear-gradient(to right, #50bb55, #50bb55); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    transform: scale(1.05); 
}

.button:active, .btn-default:active {
    background-image: linear-gradient(to right, #003366, #003366); 
    box-shadow: 0 2px 4px rgba(245, 243, 243, 0.2); 
    transform: scale(0.95);
}

.button:focus, .btn-default:focus {
    outline: none; 
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.4); 
}

/* Style for the post comments section */
.post-comments ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.comment-item {
  display: flex;
  align-items: flex-start;
  background-color: #161B22; /* Dark background */
  border-radius: 15px; /* Circular edges */
  margin: 0; /* No margin */
  padding: 10px;
  color: white; /* Light text for dark background */
 /* flex-wrap: wrap;  Allows items to wrap as needed */
}

.comment-profile-pic {
  width: 50px; /* Adjust as needed */
  height: 50px; /* Adjust as needed */
  border-radius: 50%; /* Circular profile picture */
  margin-right: 20px;
  flex-shrink: 0; /* Prevents the image from shrinking */
}

.comment-details {
  flex-grow: 1;  /*Allows this div to grow as needed */
  max-width: calc(100% - 60px);  /*Adjusts width accounting for image and margin */
}

.comment-content {
  padding-top: 7px;
  font-weight: normal;
  line-height: 1.25;
}


/*nav bar buttons*/
